* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f5f0; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A73E8; 
    color: white;
    padding: 10px 20px;
}

.underlined {
    border-bottom: 2px solid #1A73E8; /* Adjust thickness with the number (2px) */
    padding-bottom: 10px; /* Optional: adds spacing between content and line */
  }

.bold_blue_text{
    color: #1A73E8;
    font-weight: bold;
}




button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1A73E8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1A73E8; 
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}



.map-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px; 
}

.map {
    margin-top: 40px; 
    width: 100%;
    height: 550px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 60px;
}

.map img {
    top: 120px;
    left: 400px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    
}

.livraison-en-cours {
    position: absolute;
    top: 100px;
    left: 400px;
    color: #1A73E8;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;

}

.buttons {
    display: flex;
    gap: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    color: black;
    text-align: left;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
    display: block;
}








html, body {
    overflow-x: hidden;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
